In [1]:
print("Hello,World!")

Hello,World!

In [2]:

#int (integer number )
age = 32

#str (string of characters)
name = "Harshit" 

#float (a number with a decimal point)
salary = 45.67

In [5]:
print(age, name, salary )

32 Harshit 45.67

In [6]:
age = 35

print(age)

35

In [7]:
print(age, name, salary )

35 Harshit 45.67

In [8]:
print(age, name, salary )

35 Harshit 45.67

In [9]:
print("Harshit", age, salary)

Harshit 35 45.67

In [10]:
#accidently overwriting values
age = 32

age = "Harshit"

print(age)

Harshit

### Data containers/ data structures

In [18]:
### salaries of 3 employees

# list (mutable data i.e data that can be modifed at any time)
salaries = [45.67,  43.21,  34.56 ]
print(salaries)

data = [100, 45.56, "harshit"] #list of 3 values
print(data)

# tuple (read-only data, modifications are not allowed)
ages = ( 32, 45,65 )
print(ages)

# dictionary : (labelled data that can be modified. format of entry is key : value where key is label)

employee = {
    "name"  : "Harshit",
    "age"   :  32,
    "location" : "Mumbai",
    "skills" : ["IT training", "ML", "Programming"]
}

print(employee)

employee["age"] = 40

print(employee)

[45.67, 43.21, 34.56]
[100, 45.56, 'harshit']
(32, 45, 65)
{'name': 'Harshit', 'age': 32, 'location': 'Mumbai', 'skills': ['IT training', 'ML', 'Programming']}
{'name': 'Harshit', 'age': 40, 'location': 'Mumbai', 'skills': ['IT training', 'ML', 'Programming']}

In [20]:
print(    type(employee)   )
print(    type(data)   )

<class 'dict'>
<class 'list'>

# take one value as input from the user. 

### step 1: to accept a value for variable "age". This should be integer
### step 2 : check the value of age and apply following conditions

                a) if age is less than 0: print invalid age
                b) 0 to 17 : print Cannot vote yet
                c) age over 17 (18 and above) : Eligible to vote


if age is less than 0, it is invalid, else if age is between 0 to 17, person cannot vote ELSE they are eligible to vote

In [28]:
# step 1: age input: convert input to int since default type is string

age=int (    input("Enter your age please: ")     )

#step  2a

if  age  <  0 :
    print("Invalid age")

elif age >= 0  and age < 18 :
    print("Cannot vote yet")

else:
    print("Eligible to vote now")

Eligible to vote now

## arithmetics

            3 <-------quotient
         ------
       3 )  10
           - 9
           -----
             1   <-------remainder

In [40]:
n1 = int(input("Enter a value for n1: "))
n2 = int(input("Value for n2 please: "))

#formatted string
print(f"The addition of {n1} and {n2} gives {n1 + n2}")

print(f"{n1} minus {n2} gives {n1 - n2}")

print(f"{n1} times {n2} gives {n1 * n2}")

print(f"{n1} divided by {n2} gives {n1 / n2}") # / gives the exact answer of division

print(f"{n1} divided by {n2} gives quotient {n1 // n2}") #  // shows only the quotient

print(f"{n1} divided by {n2} gives remainder {n1 % n2}") #  % shows only the remainder

print(f"{n1} raised to the power of {n2} gives {n1 ** n2}") # ** is used for power operation

The addition of 10 and 3 gives 13
10 minus 3 gives 7
10 times 3 gives 30
10 divided by 3 gives 3.3333333333333335
10 divided by 3 gives quotient 3
10 divided by 3 gives remainder 1
10 raised to the power of 3 gives 1000

# int
# str
# float


#### list  [] : mutable data container (values inside a list can be modified)

#### tuple () : immutable data container (values cannot be modified)

#### dictionary {} : labelled data storage where values can also be modified


#### print : show output to user


#### input : take values from the user


#### conditions using if-elif-else blocks


#### arithmetic operations in python

### operators (type of operators)

## operators are symbols used for performing some specific operation

## arithmetic operators: +   ,   -   ,   *  ,   /   ,   //,  %,   **

## relational operators : < (less than), greater than (>), equal to (==),
##                        <= (less than or equal to),
##                        >= (greater than or equal to),
##                        !=  (not equal to)    



###  logical operators : and,  or   ,  not

In [46]:
### check whether number given by the user is less than 10

### step 1: take input
number = int(    input("Enter a number: ")   )

### step 2 print number < 10

print(f"Input number was: {number}. Is number less than 10? {number < 10}")

Input number was: 4. Is number less than 10? True

### and gives final result as True if both its operands (LHS and RHS) are true as well

In [48]:
print(   10   <   20     and      20    <   40       )

print(   10   <   20     and      20    <   15       )

True
False

### or gives final result as True if AT LEAST ONE OF ITS OPERANDS is true

In [49]:
print(   10   <   20     or      20    <   40       )

print(   10   <   20     or      20    <   15       )

True
True

### not inverts whatever its operand's result was originally

In [51]:
print(               10  <  5    )

print(         not   (   10  <  5  )    )

False
True